In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [7]:
df = pd.read_csv('cleaned_extracted_data.csv')
#Separate the input features and target values
X = df.drop(['SHLT', 'COGTOT', 'MSTOT'], axis=1)  # Input features
y = df[['SHLT', 'COGTOT', 'MSTOT']]  # Target variables
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize a dictionary to store the models and their metrics
models_metrics = {}

# Train separate models for each target variable
for target in y.columns:
    # Train the model
    model = LinearRegression()
    model.fit(X_train, y_train[target])
    
    # Predict on the testing set
    y_pred = model.predict(X_test)
    
    # Evaluate the model
    r2 = r2_score(y_test[target], y_pred)
    mse = mean_squared_error(y_test[target], y_pred)
    
    # Store the model and its metrics
    models_metrics[target] = {'R2 Score': r2, 'MSE': mse}

# Display the models' metrics
for target, metrics in models_metrics.items():
    print(f"Model for {target}: R2 Score = {metrics['R2 Score']}, MSE = {metrics['MSE']}")

Model for SHLT: R2 Score = 0.0738524814646534, MSE = 0.8228206267002112
Model for COGTOT: R2 Score = 0.012899357379497656, MSE = 17.00954825623232
Model for MSTOT: R2 Score = 0.031181298470694507, MSE = 3.114331817576285

In [8]:
df.describe()

,SHLT,BMI,MSTOT,COGTOT,INHPFN,INHPE,HHHRES,HCHILD,LIVSIB,HINPOV,HINPOVA,HAIRA,HATOTB,IEARN,HITOT,PENINC,HIGOV,PRPCNT,SLFEMP,RETMON
count,13212.000000,13212.000000,13212.000000,13212.00000,13212.000000,13212.000000,13212.000000,13212.000000,13212.000000,13212.000000,13212.000000,1.321200e+04,1.321200e+04,13212.000000,1.321200e+04,13212.000000,13212.000000,13212.000000,13212.000000,13212.0
mean,2.472979,27.856804,13.505450,23.72525,0.045338,0.000076,2.306161,3.460188,2.520739,0.016727,0.016803,1.088927e+05,7.288049e+05,12613.818939,8.639433e+04,0.354148,0.923176,0.677490,0.388435,1.0
std,0.934027,4.841408,1.782865,4.06663,0.256302,0.008700,0.760294,1.949209,2.249977,0.128252,0.128537,2.769079e+05,1.548633e+06,31149.777109,1.473641e+05,0.478272,0.266322,0.637129,0.487413,0.0
min,1.000000,11.500000,2.000000,5.00000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,-3.624527e+06,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.0
25%,2.000000,24.400000,13.000000,21.00000,0.000000,0.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000e+00,1.252375e+05,0.000000,3.650464e+04,0.000000,1.000000,0.000000,0.000000,1.0
50%,2.000000,27.300000,14.000000,24.00000,0.000000,0.000000,2.000000,3.000000,2.000000,0.000000,0.000000,1.100000e+04,3.200000e+05,3600.000000,5.731200e+04,0.000000,1.000000,1.000000,0.000000,1.0
75%,3.000000,30.600000,15.000000,26.00000,0.000000,0.000000,2.000000,4.000000,4.000000,0.000000,0.000000,1.000000e+05,7.590000e+05,12925.000000,9.485000e+04,1.000000,1.000000,1.000000,1.000000,1.0
max,5.000000,62.200000,15.000000,35.00000,4.000000,1.000000,11.000000,11.000000,18.000000,1.000000,1.000000,1.208000e+07,3.166000e+07,700000.000000,8.017657e+06,1.000000,1.000000,21.000000,1.000000,1.0