In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("wave\wave4_dead.csv")
c = df.columns
for i in c:
    if (sum(df[i].isna()) / 7834 ) > 0.5:
        df = df.drop(columns=i)

df

,Unnamed: 0,S4HHIDPN,R4MSTAT,R4MPART,S4BMONTH,S4BYEAR,S4BDATE,S4BFLAG,S4COHBYR,S4HRSAMP,...,R4HLPHRSU,R4INHPPN,R4HLPRPN,R4HLPDYSP,R4HLPHRSP,R4INHPTN,R4HLPRTN,R4HLPDYST,R4HLPHRST,R4HLPPDTA
0,2,3020.0,1.0,0.0,9.0,1938.0,-7778.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,3010.0,1.0,0.0,1.0,1936.0,-8752.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,10003020.0,1.0,0.0,4.0,1934.0,-9392.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,10004010.0,1.0,0.0,12.0,1939.0,-7322.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17,10075030.0,1.0,0.0,7.0,1927.0,-11858.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7829,27325,213446010.0,1.0,0.0,3.0,1927.0,-11980.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7830,27327,213449020.0,1.0,0.0,2.0,1925.0,-12738.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7831,27335,213467020.0,1.0,0.0,10.0,1928.0,-11400.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7832,27338,213471020.0,1.0,0.0,9.0,1926.0,-12161.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7833,27342,213479010.0,1.0,0.0,5.0,1927.0,-11919.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
cor = df.corr()["S4DAGE_Y"].abs().sort_values(ascending=False)
cor.head(20)

S4DAGE_Y    1.000000
S4DAGE_M    0.999537
S4AGEM_B    0.765137
S4AGEM_M    0.765132
S4BDATE     0.765129
S4AGEM_E    0.765127
S4BYEAR     0.764835
S4AGEY_B    0.764784
S4AGEY_E    0.764774
S4AGEY_M    0.764773
S4COHBYR    0.721464
S4LIV75P    0.692300
S4COHORT    0.622139
R4AGEM_E    0.622072
R4AGEM_M    0.622060
R4AGEM_B    0.622051
R4AGEY_E    0.621640
R4AGEY_M    0.621633
R4AGEY_B    0.621536
R4LIV75P    0.618874
Name: S4DAGE_Y, dtype: float64

In [19]:
w4_dead["S4DCPCT3"][w4_dead["S4DCPCT3"] > 0]

1117    20.0
2179    15.0
Name: S4DCPCT3, dtype: float64

In [4]:
df

,Unnamed: 0,S4HHIDPN,R4MSTAT,R4MPART,S4BMONTH,S4BYEAR,S4BDATE,S4BFLAG,S4COHBYR,S4HRSAMP,...,R4INHPPN,R4HLPRPN,R4HLPDYSP,R4HLPHRSP,R4INHPTN,R4HLPRTN,R4HLPDYST,R4HLPHRST,R4HLPPDTN,R4HLPPDTA
0,2,3020.0,1.0,0.0,9.0,1938.0,-7778.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
1,3,3010.0,1.0,0.0,1.0,1936.0,-8752.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
2,6,10003020.0,1.0,0.0,4.0,1934.0,-9392.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
3,8,10004010.0,1.0,0.0,12.0,1939.0,-7322.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
4,17,10075030.0,1.0,0.0,7.0,1927.0,-11858.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7829,27325,213446010.0,1.0,0.0,3.0,1927.0,-11980.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
7830,27327,213449020.0,1.0,0.0,2.0,1925.0,-12738.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
7831,27335,213467020.0,1.0,0.0,10.0,1928.0,-11400.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
7832,27338,213471020.0,1.0,0.0,9.0,1926.0,-12161.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
7833,27342,213479010.0,1.0,0.0,5.0,1927.0,-11919.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0

In [7]:
sum(df["R4HLPPDTN"].isna())

7380

In [14]:
c = df.columns
for i in c:
    if (sum(df[i].isna()) / 7834 ) > 0.5:
        df = df.drop(columns=i)

In [15]:
df

,Unnamed: 0,S4HHIDPN,R4MSTAT,R4MPART,S4BMONTH,S4BYEAR,S4BDATE,S4BFLAG,S4COHBYR,S4HRSAMP,...,R4HLPHRSU,R4INHPPN,R4HLPRPN,R4HLPDYSP,R4HLPHRSP,R4INHPTN,R4HLPRTN,R4HLPDYST,R4HLPHRST,R4HLPPDTA
0,2,3020.0,1.0,0.0,9.0,1938.0,-7778.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,3010.0,1.0,0.0,1.0,1936.0,-8752.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,10003020.0,1.0,0.0,4.0,1934.0,-9392.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,10004010.0,1.0,0.0,12.0,1939.0,-7322.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17,10075030.0,1.0,0.0,7.0,1927.0,-11858.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7829,27325,213446010.0,1.0,0.0,3.0,1927.0,-11980.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7830,27327,213449020.0,1.0,0.0,2.0,1925.0,-12738.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7831,27335,213467020.0,1.0,0.0,10.0,1928.0,-11400.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7832,27338,213471020.0,1.0,0.0,9.0,1926.0,-12161.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7833,27342,213479010.0,1.0,0.0,5.0,1927.0,-11919.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0