In [12]:
import pandas as pd
import numpy as np
from scipy.stats import boxcox
from sklearn.preprocessing import PowerTransformer

In [13]:
df = pd.read_csv('test_data.csv')
df = df[df["HATOTB"] >= 0]
df_transformed = df.drop(['group'], axis=1)
keep_data = df[['group']]

In [14]:
df_transformed.describe()

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,HATOTB,IEARN,HITOT,PRPCNT
count,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2.140000e+03,2.140000e+03,2140.000000,2.140000e+03,2140.000000
mean,2.493458,27.999393,13.151869,23.517757,0.029439,2.730374,3.350467,2.990654,5.940464e+04,5.539637e+05,16436.124791,8.744299e+04,0.711215
std,0.998107,4.997406,2.102742,4.372677,0.182376,1.271367,2.094222,2.427424,1.375502e+05,1.224471e+06,32759.770273,1.005368e+05,0.586401
min,1.000000,12.500000,4.000000,6.000000,0.000000,2.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,2.000000,24.800000,12.000000,21.000000,0.000000,2.000000,2.000000,1.000000,0.000000e+00,6.220000e+04,0.000000,2.200000e+04,0.000000
50%,2.000000,27.400000,14.000000,24.000000,0.000000,2.000000,3.000000,2.000000,0.000000e+00,2.257500e+05,191.500000,6.171400e+04,1.000000
75%,3.000000,30.825000,15.000000,26.000000,0.000000,3.000000,5.000000,4.000000,4.525000e+04,5.905000e+05,20000.000000,1.089795e+05,1.000000
max,5.000000,58.600000,15.000000,34.000000,2.000000,10.000000,11.000000,16.000000,1.450000e+06,2.053150e+07,395000.000000,1.103000e+06,4.000000

In [15]:
df_log = df_transformed.apply(lambda x: np.log(x + 0.1))
df_log = pd.concat([df_log, keep_data], axis=1)
df_log

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,HATOTB,IEARN,HITOT,PRPCNT,group
0,1.410987,3.246491,2.572612,3.182212,-2.302585,1.131402,1.131402,1.410987,9.546820,11.845821,8.006401,11.074469,0.095310,"0,0,0,1,0"
1,0.095310,3.210844,2.714695,3.370738,-2.302585,0.741937,1.131402,0.741937,13.060837,13.490008,10.239963,10.997223,0.095310,"0,0,0,1,0"
2,1.131402,3.314186,2.646175,3.095578,-2.302585,1.131402,0.741937,1.629241,8.294075,12.955128,8.517213,10.748714,0.095310,"0,0,0,1,0"
3,1.410987,3.314186,2.714695,3.299534,-2.302585,0.741937,1.131402,1.629241,-2.302585,11.532729,9.680350,10.646665,-2.302585,"0,0,0,1,0"
4,1.131402,3.346389,2.714695,3.139833,-2.302585,0.741937,1.131402,-2.302585,10.878049,12.930016,5.298817,11.322589,0.095310,"0,0,0,1,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,1.131402,3.218876,2.493205,3.095578,-2.302585,1.131402,1.808289,-2.302585,-2.302585,11.532729,-2.302585,10.483805,0.095310,"1,1,1,0,1"
2216,1.410987,3.374169,2.572612,3.139833,-2.302585,1.131402,1.629241,2.646175,-2.302585,10.768487,-2.302585,9.656442,-2.302585,"1,1,1,1,0"
2217,1.410987,3.374169,2.572612,3.139833,-2.302585,1.131402,1.629241,2.646175,-2.302585,10.768487,-2.302585,9.656442,-2.302585,"1,1,1,1,0"
2218,1.410987,3.342862,2.406945,2.949688,-2.302585,0.741937,1.629241,1.629241,-2.302585,10.749358,-2.302585,9.915026,0.741937,"1,1,1,1,1"
2219,1.131402,3.456317,2.406945,2.949688,-2.302585,0.741937,2.312535,1.131402,12.429217,13.623139,-2.302585,10.345702,0.095310,"1,1,1,1,1"

In [20]:
df_log.describe()

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,HATOTB,IEARN,HITOT,PRPCNT
count,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000,2140.000000
mean,0.868776,3.320542,2.568624,3.142261,-2.236085,0.970290,0.956492,0.691401,3.614326,11.686696,3.756906,10.631157,-0.702784
std,0.428571,0.173760,0.186912,0.207816,0.399641,0.345264,0.958369,1.164132,6.649184,3.073252,6.078525,2.006097,1.178798
min,0.095310,2.533697,1.410987,1.808289,-2.302585,0.741937,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585
25%,0.741937,3.214868,2.493205,3.049273,-2.302585,0.741937,0.741937,0.095310,-2.302585,11.038112,-2.302585,9.998802,-2.302585
50%,0.741937,3.314186,2.646175,3.182212,-2.302585,0.741937,1.131402,0.741937,-2.302585,12.327183,5.254425,11.030267,0.095310
75%,1.131402,3.431564,2.714695,3.261935,-2.302585,1.131402,1.629241,1.410987,10.719960,13.288725,9.903493,11.598916,0.095310
max,1.629241,4.072440,2.714695,3.529297,0.741937,2.312535,2.406945,2.778819,14.187074,16.837471,12.886641,13.913544,1.410987

In [16]:
df_log.to_csv('test_dataset1_log.csv', index=False)

In [17]:
df2 = pd.read_csv('test_data.csv')
df_transformed2 = df2.drop(['group','HATOTB'], axis=1)
keep_data2 = df2[['HATOTB','group']]

In [18]:
df_log2 = df_transformed2.apply(lambda x: np.log(x + 0.1))
df_log2 = pd.concat([df_log2, keep_data2], axis=1)
df_log2

,SHLT,BMI,MSTOT,COGTOT,INHPFN,HHHRES,HCHILD,LIVSIB,HAIRA,IEARN,HITOT,PRPCNT,HATOTB,group
0,1.410987,3.246491,2.572612,3.182212,-2.302585,1.131402,1.131402,1.410987,9.546820,8.006401,11.074469,0.095310,139500.0,"0,0,0,1,0"
1,0.095310,3.210844,2.714695,3.370738,-2.302585,0.741937,1.131402,0.741937,13.060837,10.239963,10.997223,0.095310,722164.0,"0,0,0,1,0"
2,1.131402,3.314186,2.646175,3.095578,-2.302585,1.131402,0.741937,1.629241,8.294075,8.517213,10.748714,0.095310,423000.0,"0,0,0,1,0"
3,1.410987,3.314186,2.714695,3.299534,-2.302585,0.741937,1.131402,1.629241,-2.302585,9.680350,10.646665,-2.302585,102000.0,"0,0,0,1,0"
4,1.131402,3.346389,2.714695,3.139833,-2.302585,0.741937,1.131402,-2.302585,10.878049,5.298817,11.322589,0.095310,412510.0,"0,0,0,1,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,1.131402,3.218876,2.493205,3.095578,-2.302585,1.131402,1.808289,-2.302585,-2.302585,-2.302585,10.483805,0.095310,102000.0,"1,1,1,0,1"
2216,1.410987,3.374169,2.572612,3.139833,-2.302585,1.131402,1.629241,2.646175,-2.302585,-2.302585,9.656442,-2.302585,47500.0,"1,1,1,1,0"
2217,1.410987,3.374169,2.572612,3.139833,-2.302585,1.131402,1.629241,2.646175,-2.302585,-2.302585,9.656442,-2.302585,47500.0,"1,1,1,1,0"
2218,1.410987,3.342862,2.406945,2.949688,-2.302585,0.741937,1.629241,1.629241,-2.302585,-2.302585,9.915026,0.741937,46600.0,"1,1,1,1,1"
2219,1.131402,3.456317,2.406945,2.949688,-2.302585,0.741937,2.312535,1.131402,12.429217,-2.302585,10.345702,0.095310,825000.0,"1,1,1,1,1"

In [19]:
df_log2.to_csv('test_dataset2_log.csv', index=False)